<header>
  <nav class="navbar navbar-default navbar-fixed-top" id="common-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "TopMail", emails_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="dropdown">
                <a id="current_user" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <span class="user_details">
                    <%= image_tag current_user.image %>
                    <%= content_tag :span, current_user.name, class: "name" %>
                  </span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to raw("<span class='glyphicon glyphicon-log-out'></span>Signout"), destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to raw("<span class='glyphicon glyphicon-cog'></span>"), home_settings_path %>
              </li>
            <% else %>
              <li>
                <%= link_to "Login", user_omniauth_authorize_path(:google_oauth2) %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>