<!DOCTYPE html>
<html>
<head>
  <title>TopMail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar-fixed-top">
    <% if current_user %>
      <div id="current_user" class="pull-right">
        <div class="user_details pull-right">
          <%= content_tag :div, current_user.name, class: "name" %>
          <%= link_to raw("<span class='glyphicon glyphicon-log-out'></span>Signout"), destroy_user_session_path, method: :delete %>
        </div>
        <%= image_tag current_user.image, class: 'pull-right' %>
      </div>
    <% end %>
    <div id="brand">TopMail</div>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
